parameters:
    scanDirectories:
        - %currentWorkingDirectory%/src
        - %currentWorkingDirectory%/benchmarks
        - %currentWorkingDirectory%/tests

    paths:
        - src
        - benchmarks
        - tests
